<html>
    <head></head>
    <body>
        <form method="post">
            {% csrf_token %}
            <div>
                <label>FirstName</label>
                <input type="text" name="FirstName" maxlength="50" style="margin-bottom: 5vh;" required="" id="id_FirstName">
            </div>
            <div>
                <label>LastName</label>
                <input type="text" name="LastName" maxlength="50" style="margin-bottom: 5vh;" required="" id="id_LastName">
            </div>
            <div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sexe" id="sexe1" value="Male">
                    <label class="form-check-label" for="sexe1">
                      Male
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="sexe" id="sexe2" value="Female" checked>
                    <label class="form-check-label" for="sexe2">
                      Female
                    </label>
                  </div>
            </div>
            <div>
                <label>BirthDate</label>
                <input type="date" name="BirthDate" id="id_BirthDate" max="{{current_date}}" style="width: 11.68vw; height: 4.5vh; margin-bottom: 5vh;">
            </div>
            <div>
                <label>Email_address</label>
                <input type="text" name="Email_address" maxlength="25"  style="margin-bottom: 5vh;"  id="id_Email_address">
            </div>
            <div>
                <label>Phone_number</label>
                <input type="text" name="Phone_number" maxlength="25"  style="margin-bottom: 5vh;"  id="id_Phone_number">
            </div>
            <div>
                <label>Address</label>
                <input type="text" name="Address" maxlength="25"  style="margin-bottom: 5vh;"  id="id_Address">		
            </div>
            <div>
                <label>Role</label>
                <select name="Role">
                    <option value="Doctor">Doctor</option>
                    <option value="Receptionist">Receptionist</option>
                    <option value="Cashier">Cashier</option>
                </select>
            </div>
            <div><input type="submit" class="save btn" value="Save"></div>    
        </form>
    </body>
</html>