{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'usermanagement/css/style.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'usermanagement/fontawesome/css/all.min.css' %}">

    <script src="{% static 'usermanagement/js/script.js' %}" defer></script>
</head>
<body>
    <div class="main">
        {% include 'usermanagement/admin/navbar.html'%}
        <div class="right-container">
        {% include 'usermanagement/admin/header.html'%}
            <div class="content">
                <h1>Ajouter personnel</h1>
                <form class="add">
                    <div class="form-row">
                        <div>
                            <label>Nom</label>
                            <input class="focus" type="text"  required/>
                        </div>
                        <div>
                            <label>Prénom</label>
                            <input class="focus" type="text"  required/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            <label>Date de naissance</label>
                            <input class="focus" type="date" required />
                        </div>
                        <div>
                            <label>Sexe</label>
                            <select class="focus" required >
                                <option selected disabled value="" style=" color: black ; font-weight: bold"></option>
                                <option>Masculin</option>
                                <option>Féminin</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            <label>Email</label>
                            <input class="focus" type="email"  required/>
                        </div>
                        <div>
                            <label>N° téléphone</label>
                            <input class="focus" type="number" required/>
                        </div>
                    </div>
                    <div class="form-row">
                            <div>
                                <label>Adresse</label>
                                <input class="focus" type="text" required/>
                            </div>
                            <div>
                                <label>N° CNI</label>
                                <input class="focus" type="number" required/>
                            </div>
                    </div>
                    <div class="form-row">
                        <div style="width: 100% ;">
                            <label>Role</label>
                            <select class="focus" required >
                                <option selected disabled value="" style=" color: black ; font-weight: bold">Choisir une catégorie</option>
                                <option>Médecin</option>
                                <option>Pharmacien</option>
                                <option>Spétialiste</option>
                                <option>Laborantin</option>
                                <option>Réceptioniste</option>
                                <option>Cassier</option>
                                
                            </select>
                        </div>
                    </div>
                    <input  type="submit" value="Ajouter"/>
                </form>
            </div>
        </div>
         
    </div>
    <script>
        document.querySelector(".navigation a").classList.add("active")
    </script>
    
</body>
</html>
