{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'usermanagement/css/style.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href='fontawesome/css/all.min.css'>
    <script src="{% static 'usermanagement/js/script.js' %}" defer></script>
</head>
<body>
    <div class="main">
        <div class="left-container">
            <div class="left-bar">
                <div class="presentation">
                    <div class="entete">
                        <i class="fa-solid fa-layer-group"></i>
                        <p class="app-name">Polyclinic Fultang</p>
                    </div>
                    
                    <div class="about">
                        <div class="welcome-image">
                            <div>
                            </div>
                        </div>
                        <div class="grade">
                            <p>welcome</p>
                            <p>Adiministrator</p>
                            <div class="outside">
                                <a>Signout</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="navigation">
                    <div class="nav-title">
                        <p>MAIN NAVIGATION</p>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a href="ajouter-utilisateur.html">Ajouter un utilisateur</a>
                            </li>
                            <li class="section">
                                <a>Gestion des utilisateurs</a>
                                <ul>
                                    <li><a>Docteur</a></li>
                                    <li><a>Pharmacien</a></li>
                                    <li><a>Patient</a></li>
                                </ul>
                            </li>
                            <li class="section">
                                <a>statiques</a>
                                <ul>
                                    <li><a>Docteur</a></li>
                                    <li><a>Pharmacien</a></li>
                                    <li><a>Patient</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
        <div class="right-container">
            <header>
                <div class="logo">
                    <i class="fa-solid fa-layer-group"></i>
                    <p class="title">Polyclinic Fultang</p>
                </div>
                <div class="search">
                    <form>
                        <input type="search" placeholder="search">
                        <button type="submit"></button>
                    </form>
                    
                </div>
                <div class="profil">
                    <p>Daren NDIZE</p>
                    <div class="profil-image">
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="profil-entete">
                    <img src="image/avatar.jpg">
                    <h1>ALEX DIFFO</h1>
                </div>
                <div class="basic-info">
                    <div class="colonne-info">
                        <h2>iD</h2>
                        <p>5</p>
                    </div>
                    <div class="colonne-info">
                        <h2>PRENOM</h2>
                        <p>Alex</p>
                    </div>
                    <div class="colonne-info">
                        <h2>NOM</h2>
                        <p>DIFFO</p>
                    </div>
                    <div class="colonne-info">
                        <h2>E-MAIL</h2>
                        <p>Alex@gmail.com</p>
                    </div>
                </div>
                <div class="basic-info">
                    <div class="colonne-info">
                        <h2>Action Effectuer</h2>
                        <a href="">Voir</a>
                    </div>
                    <div class="colonne-info">
                        <h2>Patient pris en charge</h2>
                        <a href="">Voir</a>
                    </div>
                </div>
            </div>
        </div>
         
    </div>
    
</body>
</html>
