<div class="left-container">
    <div class="left-bar">
        <div class="presentation">
            <div class="entete">
                <i class="fa-solid fa-bars"></i>
                <p class="app-name">Polyclinic Fultang</p>
            </div>
            
            <div class="about">
                <div class="welcome-image">
                    <div>
                    </div>
                </div>
                <div class="grade">
                    <p>welcome</p>
                    <p>Adiministrator</p>
                    <div class="outside">
                        <a>Signout</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation">
            <div class="nav-title">
                <p>MAIN NAVIGATION</p>
            </div>
            <nav>
                <ul>
                    
                    <li class="section">
                        <a><i class="fa-regular fa-rectangle-list"></i>Gestion des utilisateurs <i class="fa-solid fa-chevron-right"></i></a>
                        <ul>
                            <li><a href="/administration" >Doctor</a></li>
                            <li><a href="{% url 'usermanagement:viewPharmacistlist' %}">Pharmacist</a></li>
                            <li><a href="{% url 'usermanagement:viewSpecialistlist' %}">Specialist</a></li>
                            <li><a href="{% url 'usermanagement:viewReceptionistlist' %}">Receptionist</a></li>
                            <li><a href="{% url 'usermanagement:viewCashierlist' %}" >Cashier</a></li>
                            <li><a href="{% url 'usermanagement:viewLabtechlist' %}">Labtech</a></li>
                        </ul>
                    </li>
                    <li id="add-user">
                        <a href="{% url 'usermanagement:addPersonel' %}"><i class="fa-solid fa-plus"></i>Ajouter du personnel</a>
                    </li>
                    <li id="exams">
                        <a href="/administration/list-exam/"><i class="fa-regular fa-rectangle-list"></i>liste des examens</a>
                        <a href="/administration/exam/"><i class="fa-solid fa-plus"></i>Ajouter examens</a>
                    </li>
                    <li class="section">
                        <a><i class="fa-solid fa-chart-line"></i>statiques <i class="fa-solid fa-chevron-right"></i></a>
                        <ul>
                            <li><a>Doctor</a></li>
                            <li><a>Pharmacist</a></li>
                            <li><a>Specialist</a></li>
                            <li><a>Receptionist</a></li>
                            <li><a>Cashier</a></li>
                            <li><a>Labtech</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </div>

</div>